body {
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/29/hazy-lake.jpg?') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 330px;

}

header {
  padding: 3em 1em;
  color: #fff;
  text-align: center;
}
header h2, header h4 {
  text-shadow: 0px 2px 20px rgba(0,0,0,0.34);
  margin: 0;
}

.intro {
  padding-top: 2em;
  max-width: 60%;
  margin: 0 auto;
  position: relative;
}

.date-time {
  text-transform: uppercase;
  padding: 2em 0;
  margin-top: 2em;
}
.date-time h4 {
  padding-bottom: .5em;
}
.date-time:before {
  content: '';
  background: #fff;
  position: absolute;
  height: 5px;
  width: 80px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: -2em;
}