---
layout: default
---
<main>
  <div class="preface">
    <div class="intro editable"><h1 class="pagetitle">A Mental Health Music, Arts, and Film Festival</h1><div class="date-time"><h4>OCTOBER 14 &amp; 15</h4><p>&nbsp;</p><h4 class="show-location">DOWNTOWN ARTERY&nbsp;</h4><h4 class="show-location">LYRIC CINEMA CAFE</h4><h4 class="show-location">&nbsp;</h4><h4 class="show-location">Fort Collins, CO</h4></div></div>
  </div>
    <section class="content-wrapper wrap">
      <div class="welcome-block editable"><p>&nbsp;</p><p>News update Sept 2: SummitStone Health will join us on site.&nbsp;</p><p>News update: August 29 Ashely Noack will be doing a hands on workshop where attendees will get to make their own herbal remedies and take them home to treat anxiety and depression.</p><p>News update: July 19 Pleased to announce the Alliance for Suicide Prevention will be joining us for a presentation and to provide resources on site. &nbsp;</p><p>&nbsp;</p><p>The Mental Health Festival aims to challenge perceptions, support art, and introduce tools and resources, all the while entertaining with cutting edge programing. The experience will take place through workshops, films, live music, comedy and more. Slated for October 14 &amp; 15, events will occur at various venues in Fort Collins.</p><p><a class="link" href="/about">Learn More</a></p></div>
      <div class="welcome-block-image editable">
        <img src="{{ page.spot_image_path }}" alt="" />
      </div>
    </section>
</main>