---
layout: default
---
<main class="projectdetail subpage schedule">
    <section class="content-wrapper wrap">
      <h1 class="pagetitle">{{ page.title }}</h1>
      <div class="event-image">
        <img src="{{ page.detail_image_path }}" >
      </div>
      <div class="event-date-time">
        <h4 class="event-date">{{ page.date | date: "%A, %b %d" }}</h4>
        <h4 class="event-time">{{ page.time }}</h4>
      </div>
      <div class="event-details-place">
        <h6 class="event-space">{{ page.space }} @ {{ page.venue }}</h6>
      </div>
      {{ page.content }}
    </section>
</main>